<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639666806293-fu6p60n8nsihdkq180boqvv04gqss9e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639666806293-fu6p60n8nsihdkq180boqvv04gqss9e8</string>
	<key>API_KEY</key>
	<string>AIzaSyDGTe9Cn9mV_nKA_6w9QeJeWIF3To2EuPM</string>
	<key>GCM_SENDER_ID</key>
	<string>639666806293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yunusoktay.SharePhoto</string>
	<key>PROJECT_ID</key>
	<string>sharephotoapplication-85343</string>
	<key>STORAGE_BUCKET</key>
	<string>sharephotoapplication-85343.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:639666806293:ios:21a17035d34416b51a781c</string>
</dict>
</plist>
